

 <!-- <br />
   
 <div class="bg-black
 text-xl text-white text-left

 inset-x-0
 bottom-0
 p-4
 md:flex md:items-center md:justify-between justify-between items-center
 flow-root
 ">
     <div class="float-left text-white ">
        <h2>
            Quick Links
        </h2> 
        <ul >
            <li ><a class=" no-underline" href="https://www.facebook.com/afcsofiaknights" target="_blank">Facebook</a></li>
            <li ><a class=" no-underline" href="https://www.instagram.com/sofiaknightsafc" target="_blank">Instagram</a></li>
        </ul>
     </div>

     <div class="float-right text-white"> 
        <h2>
            Contact Info
        </h2>
        <div>
            <p> <i class="fa fa-location-arrow" aria-hidden="true"></i> Стадион Академика </p>
            <p> <i class="fa fa-phone" aria-hidden="true"></i> 0878 123 123</p>
            <p> <i class="fa fa-envelope" ></i> sofiaknights@domain.com</p>

        </div>
     </div>
 </div> -->




 
 <div class="container">
    <div class="row">
      <div class="col-12">
        
        
        <br />
   
        <div class="bg-black
        text-xl text-white text-left
       
        inset-x-0
        bottom-0
        p-4
        md:flex md:items-center md:justify-between justify-between items-center
        flow-root
        ">
            <div class="float-left text-white ">
               <h2>
                   Quick Links
               </h2> 
               <ul >
                   <li ><a class="fa fa-facebook no-underline text-yellow-500" href="https://www.facebook.com/afcsofiaknights" target="_blank"> Facebook</a></li>
                   <li ><a class="fa fa-instagram no-underline text-yellow-500" href="https://www.instagram.com/sofiaknightsafc" target="_blank"> Instagram</a></li>
               </ul>
            </div>
       
            <div class="float-right text-white"> 
               <h2>
                   Contact Info
               </h2>
               <div>
                   <p> <i class="fa fa-location-arrow" aria-hidden="true"></i> Стадион Академика </p>
                   <p> <i class="fa fa-phone" aria-hidden="true"></i> 0878 123 123</p>
                   <p> <i class="fa fa-envelope" ></i> sofiaknights@domain.com</p>
       
               </div>
            </div>
        </div>




      </div>
    </div>
  </div>  