<div class="header">
    <h1>Respect all, fear none!</h1>
</div>
<div class="grid-container">
    <div class="grid-item">
        <img src="../../assets/quotes1.jpg" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes2.jpg" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes3.png" alt="" class="img1">
    </div>  
    <div class="grid-item">
        <img src="../../assets/quotes4.jpg" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes5.jpg" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes6.jpg" alt="" class="img1">
    </div>  
    <div class="grid-item">
        <img src="../../assets/quotes7.jpg" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes8.png" alt="" class="img1">
    </div>
    <div class="grid-item">
        <img src="../../assets/quotes9.jpg" alt="" class="img1">

    </div>  
</div>