

<div class="cards">

  <div class="grid grid-rows-2 grid-flow-col gap-1">

    <div class="row-start-1 row-end-3 ..."><div class="card" style="width: 18rem;">
      <img src="../../../assets/merch/merch1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="grid grid-cols-2 gap-4">
          <a href="#" class="btn btn-warning">Buy now!</a>
          <h3>60 BGN</h3>
        </div>
      </div>
    </div>
    </div>

    <div class="row-start-1 row-end-3 ...">

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/merch/merch2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="grid grid-cols-2 gap-4">
            <a href="#" class="btn btn-warning">Buy now!</a>
            <h3>60 BGN</h3>
          </div>
        </div>
      </div>

    </div>
    <div class="row-start-1 row-end-3 ...">

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/merch/merch3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="grid grid-cols-2 gap-4">
            <a href="#" class="btn btn-warning">Buy now!</a>
            <h3>60 BGN</h3>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

