
<div class="cards">

    <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div>


    <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div>
    <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div> <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div> <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div> <div class="grid grid-rows-2 grid-flow-col gap-1">
  

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 

        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
        <div class="row-start-1 row-end-3 ...">
            <div class="card" style="width: 18rem;">
                <img src="https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus saepe eligendi aliquid, in autem cum soluta earum laudantium enim.</p>
                    <div class="grid grid-cols-2 gap-4">

                    </div>
                </div>
            </div>
        </div>

 
    </div>
</div>
  
<router-outlet></router-outlet>